// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$transparent: transparent;
$second-blue: #43689e;
$black-blue: #2c3143;
$green: #52d03e;
$dark-gray: #6a757e;
$gray: #ededed;
$dark-green: #0ca52f;
$border-gray: #eeefee;
$bg-credit-card: #f7f8f9;
$btn-gray-action: #cfd0d5;
$border-gray-input: #dae1e7;
$border-gray-input-mobile: #bcbfca;
$modal-blue: #5b73c1;
$modal-gray: #6c757d;
