.button-disabled {
  opacity: 0.3;
  pointer-events: none;
}

button,
.button {
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  margin: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
